[filter "sops"]
required = true
; we decrypt files as usual, without any additional magic, there are no tricks here
smudge = sops decrypt --filename-override "%f"
; but enctyption will regenerate file even if there are no changes,
; so we need to decrypt existing file first, and perform encryption only if decrypted content is different
clean = "bash -c 'c=\"$(cat -)\" && if git cat-file -e \"HEAD:%f\" 2>/dev/null; then HEAD_CONTENT=\"$(git cat-file -p \"HEAD:%f\")\" && DECRYPTED=\"$(echo \"$HEAD_CONTENT\" | sops decrypt --filename-override \"%f\" 2>/dev/null || echo \"$HEAD_CONTENT\")\" && if diff <(echo \"$c\") <(echo \"$DECRYPTED\") >/dev/null 2>&1; then echo \"$HEAD_CONTENT\"; else sops encrypt --filename-override \"%f\" <<<\"$c\"; fi; else sops encrypt --filename-override \"%f\" <<<\"$c\"; fi'"

[diff "sops"]
; and as the last piece, we need to convert the file
; but as the local file is decrypted already, we need to fail safely to just printing it
textconv = sh -c 'sops decrypt "$0" 2>/dev/null || cat "$0"'
cachetextconv = false